@model Apteka.Models.RecipeDrugPaymentViewModel
@{
    var i = 1;
}
<div class="panel panel-default">
    <div class="panel-heading text-center"><h1>Zamów lek recepturowy</h1></div>
    <div class="panel-body">
        <div class="content">
            @using (Html.BeginForm("Payment", "RecipeDrug"))
            {
                <h2><small>Cena wytworzenia leku : </small><span class="text-success">@(String.Format("{0:0.00}", (Model.GetFullPrice())))zł</span></h2>
                <h4>Cena poszczególnych składników:</h4>
                <ul>
                    @foreach (var item in Model.RecipeDrug.Ingridients)
                {
                        <li><span class="text-small">Składnik @i: @(String.Format("{0:0.00}", item.Price))zł</span></li>
                        i++;
                    }
                </ul>
                <h4 class="text-small">
                    Przesyłka: @(String.Format("{0:0.00}", Model.ShippingPrice))zł
                </h4>   
                <h4 class="text-small">
                    Cena usługi: @(String.Format("{0:0.00}", Model.ServicePrice))zł
                </h4>
                <h2>Wybierz metodę płatności</h2>
                <br />
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Przelew bankowy</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-2"><input type="radio" name="PaymentType" value="Bank 1" /> Bank 1<br /><img src="~/Content/Images/bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="PaymentType" value="Bank 2" /> Bank 2<br /><img src="~/Content/Images/bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="PaymentType" value="Bank 3" /> Bank 3<br /><img src="~/Content/Images/bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="PaymentType" value="Bank 4" /> Bank 4<br /><img src="~/Content/Images/bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="PaymentType" value="Bank 5" /> Bank 5<br /><img src="~/Content/Images/bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="PaymentType" value="Bank 6" /> Bank 6<br /><img src="~/Content/Images/bank.png" height="128" class="bank" /></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"><input type="radio" name="PaymentType" value="Bank 7" /> Bank 7<br /><img src="~/Content/Images/bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="PaymentType" value="Bank 8" /> Bank 8<br /><img src="~/Content/Images/bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="PaymentType" value="Bank 9" /> Bank 9<br /><img src="~/Content/Images/bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="PaymentType" value="Bank 10" /> Bank 10<br /><img src="~/Content/Images/bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="PaymentType" value="Bank 11" /> Bank 11<br /><img src="~/Content/Images/bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="PaymentType" value="Bank 12" /> Bank 12<br /><img src="~/Content/Images/bank.png" height="128" class="bank" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Karta płatnicza</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4"><input type="radio" name="PaymentType" value="MasterCard" /> MasterCard<br /><img src="~/Content/Images/master.png" height="128" class="card" /></div>
                                    <div class="col-md-4"><input type="radio" name="PaymentType" value="Visa" /> Visa<br /><img src="~/Content/Images/visa.png" height="128" class="card" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Płatność przy odbiorze</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label for="cash"><input type="radio" name="PaymentType" value="OnDelivery" checked />Płatność przy odbiorze paczki</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(m => m.RecipeDrug.ID)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Zapłać" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>