@model Apteka.Models.RecipeDrugPaymentViewModel
    @{
        var i = 1;
    }
    <div class="panel panel-default">
        <div class="panel-heading text-center"><h1>Zamów lek recepturowy</h1></div>
        <div class="panel-body">
            <div class="content">
                @Html.BeginForm(){
                <h2><small>Cena wytworzenia leku : </small><span class="text-success">@(Model.IngPrice + Model.ServicePrice + Model.ShippingPrice)zł</span></h2>
                <h4>Cena poszczególnych składników:</h4>
                <ul>
                    @foreach (var item in Model.RecipeDrug.Ingridients)
                    {
                        <li><span class="text-small">Składnik @(i): @(item.Price)zł</span></li>
                        i++;
                    }
                </ul>
                <h4 class="text-small">
                    Przesyłka: @(Model.ShippingPrice)zł
                </h4><br />
                <h4 class="text-small">
                    Cena usługi: @(Model.ServicePrice)zł
                </h4>
                <h2>Wybierz metodę płatności</h2>
                <br />
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Przelew bankowy</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-2"><input type="radio" name="recipeDrugViewModel.PaymentType" /> Bank 1<br /><img src="bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="recipeDrugViewModel.PaymentType" /> Bank 2<br /><img src="bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="recipeDrugViewModel.PaymentType" /> Bank 3<br /><img src="bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="recipeDrugViewModel.PaymentType" /> Bank 4<br /><img src="bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="recipeDrugViewModel.PaymentType" /> Bank 5<br /><img src="bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="recipeDrugViewModel.PaymentType" /> Bank 6<br /><img src="bank.png" height="128" class="bank" /></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"><input type="radio" name="recipeDrugViewModel.PaymentType" /> Bank 7<br /><img src="bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="recipeDrugViewModel.PaymentType" /> Bank 8<br /><img src="bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="recipeDrugViewModel.PaymentType" /> Bank 9<br /><img src="bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="recipeDrugViewModel.PaymentType" /> Bank 10<br /><img src="bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="recipeDrugViewModel.PaymentType" /> Bank 11<br /><img src="bank.png" height="128" class="bank" /></div>
                                    <div class="col-md-2"><input type="radio" name="recipeDrugViewModel.PaymentType" /> Bank 12<br /><img src="bank.png" height="128" class="bank" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Karta płatnicza</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4"><input type="radio" name="recipeDrugViewModel.PaymentType" /> MasterCard<br /><img src="master.png" height="128" class="card" /></div>
                                    <div class="col-md-4"><input type="radio" name="recipeDrugViewModel.PaymentType" /> Visa<br /><img src="visa.png" height="128" class="card" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Płatność przy odbiorze</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label for="cash"><input type="radio" name="p3" checked />Płatność przy odbiorze paczki</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 rtl">
                        <button type="submit" class="btn btn-default" formaction="placeholder.html"><h2>Zapłać</h2></button>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>